* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mondrian-container {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(80px,1fr));
    grid-auto-rows: 80px;
    grid-auto-flow: dense;
    list-style: none;
    width: 70%;
    margin: 200px auto;
    background: black;
}

.mondrian-item{
    background:lightgrey;
    border:5px solid black;
    width:100%;
}
///// tall by 2 (5, 9, 10
li:nth-child(5),li:nth-child(9),li:nth-child(10) {
    grid-row: span 2;
}
///// tall by 2 and yellow(14
li:nth-child(14) {
    grid-row: span 2;
    background: yellow;
}
///// tall by 2 and red (18
li:nth-child(18) {
    grid-row: span 2;
    background: red;
}
///// tall by 3 (8
li:nth-child(8) {
    grid-row: span 3;
}
////// tall by 6 (4
li:nth-child(4) {
    grid-row: span 6;
}
// long by 2 (1, 12, 13, 16, 19
li:nth-child(1),li:nth-child(12),li:nth-child(13),li:nth-child(16),li:nth-child(19) {
    grid-column: span 2;
}
// long by 2 black (11, 15
li:nth-child(11),li:nth-child(15) {
    grid-column: span 2;
    background: black;
    color:white;
}
// long by 3 (2
li:nth-child(2) {
    grid-column: span 3;
}
// long by 2 and light yellow (3
li:nth-child(3) {
    grid-column: span 2;
    background: yellow;
}
// long by 4 (20
li:nth-child(20) {
    grid-column: span 2;
    background: black;
    color:white;
}
// 2 x 2 light yellow(7
li:nth-child(7) {
    grid-row: span 2;
    grid-column: span 2;
    background: yellow;
}
// 2 x 2 blue (17
li:nth-child(17) {
    grid-row: span 2;
    grid-column: span 2;
    background: blue;
}
// 4 x 4 red (6
li:nth-child(6) {
    grid-row: span 4;
    grid-column: span 4;
    background: red;
}
